html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0 auto;
    font-family: 'Playfair Display', Verdana, Arial, sans-serif;
}

header, footer {
    background-color: #66FFFF;
    color: black
    padding: 20px;
    text-align: left;
}

.topnav {
  overflow: hidden;
  background-color: #B74CFF;
}

.topnav a {
  float: left;
  color: #6b00b2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #99FFFF;
  color: black;
}

.topnav a.active {
  background-color: #6b00b2;
  color: white;
}

h1 {
    font-weight: 400;
    font-size: 20px;
    text-align: left;
    background: #66FFFF;
    color: black;
}

h2 {
    font-weight: 300;
    font-size: 17px;
    text-align: left;
    background: #66FFFF;
    color: black;
}

.container {
    margin-top: 20px;
    padding: 10px;
    text-align: center;
    margin-bottom: 10%;
    background: #6b00b2;
    font-size: 15px;
}

.home {
    min-height: 250px;
    background: #6b00b2;
    font-size: 15px;
    color: white;
}

.about {
    min-height: 250px;
    background: #6b00b2;
    font-size: 15px;
    color: white;
}

.cruising {
    min-height: 250px;
    background: #6b00b2;
    font-size: 15px;
    color: white;

.rving {
    min-height: 250px;
    background: #6b00b2;
    font-size: 15px;
    color: white;
}

.travel {
    min-height: 250px;
    background: #6b00b2;
    font-size: 15px;
    color: white;
}

 #back-to-top {
    font-family: 'Playfair Display', Verdana, Arial, sans-serif;
    text-decoration: none;
  
}

 #back-to-top:hover {
    text-decoration: underline;
}
    
}
.full-width {
    width: 100%;
}


